# Simple go lint and test.
os: linux
dist: bionic
language: go
go:
  - 1.16.x
install:
  - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $(go env GOPATH)/bin latest
script:
  - make test
